.competencias-container {
    font-family: 'Comics-Sans';
    max-width: 800px;
    margin: 0 auto;
  }
  
  .competencias-title {
    color: #000000;
  }
  
  .seccion-container {
    margin-bottom: 20px;
  }
  
  .seccion-title {
    color: #ffffff; 
  }
  
  .seccion-text {
    font-size: 25px;
    line-height: 1.5;
    color: #000000;
  }
  